
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@layer components {
  .card {
    @apply rounded-lg drop-shadow-lg max-w-full max-h-full min-h-64 grid grid-cols-1 content-end justify-start hover:scale-105 transition ease-in-out duration-150;
  }
}

html {
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(to right,theme('colors.theme-b2'), theme('colors.theme-b1'), theme('colors.theme-b2'));
  cursor: auto;
  @apply text-pretty text-theme-w font-poppins overflow-x-hidden;
}
::selection {
  background: theme(colors.theme-g1.700);
  color: theme(colors.theme-w);
}

#svg{
  transform: scale(4,4)
}
/* 
@media (prefers-reduced-motion: no-preference) {
  #svg {
    animation: svg-spin infinite 20s linear;
  }
}

@keyframes svg-spin {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  to {
    transform: rotate3d(1,1,1,360deg);
  }
} */

.section{
  @apply container mx-auto min-h-screen w-screen flex flex-col items-center justify-center text-center;
}

h1{
  @apply lg:text-8xl md:text-7xl font-semibold text-6xl;

}

.section h1{
  @apply lg:text-9xl md:text-8xl text-theme-w text-6xl;
}

h2{
  @apply lg:text-7xl md:text-6xl text-4xl;
}

.text{
  @apply lg:text-5xl md:text-4xl text-3xl;
}

p{
  @apply font-semibold mt-8 mb-2 lg:text-3xl md:text-2xl text-xl text-theme-w;
}
.sub{
  @apply font-semibold lg:text-2xl md:text-xl text-lg mt-5 mb-2 ;
}
